e// --- general resets ---
body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    font-size: 100%;
    text-align: left;
  }
}
// ----------------------
body {
  font: 16px Times;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0;
}

label {
  h4 {
    // h4 is about the size of text in labels anyway
    margin: 1ex 0 .25ex 0;
  }
  &.checkbox {
    display: inline-block;
    margin: 0 .5em 1ex 0;
    & > span, & > input {
      vertical-align: top;
    }
  }
}

div, section, nav, main, textarea, input, span {
  box-sizing: border-box;
}

textarea, input, pre {
  font: 10px Monaco, "Courier New", san-serif;
  padding: 2px;
  resize: none;
}

.no-selection {
  ::selection {
    background: none;
  }
}

.tree {
  .selected {
    background-color: #CCC;
  }

  form {
    ::selection {
      background: #ACCEF7;
    }
  }

  .node {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 5px;

    &.terminal {
      .value-container {
        border-bottom: none;
        .value {
          font-weight: normal;
        }
      }
    }
    .value-container {
      border-bottom: 1px solid #555;
      .value {
        display: inline-block;
        font: bold 16px Times;
        padding: 2px;
        min-width: 35px;
      }
      .value:empty:before {
        content: '\00a0';
      }
      input.value {
        border: none;
        width: 35px;
        text-align: center;
      }
    }
  }

}
