body {
  margin: 0;
}

nav {
  padding: 10px;
  border-bottom: 1px solid #AAA;
}

textarea {
  font: 10px Monaco, "Courier New", san-serif;
  box-sizing: border-box;
  border: none;
  resize: none;
}
