body {
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  right: 0;
  border-left: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-family: "Times New Roman";
  z-index: 100;
}
#tex {
  border: none;
  border-right: 1px solid #777;
  position: relative;
  font: 10px Monaco, "Courier New", san-serif;
  width: 60%;
  z-index: 1;
  resize: none;
}
#examples {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(127, 127, 127, 0.5);
  z-index: 100000;
}
#examples li {
  font: 11px Arial;
  list-style: none;
  padding: 0;
}
