<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>tree-js splitter</title>
  <link href="../site.css" rel="stylesheet" type="text/css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/ngStorage.min.js"></script>
  <script src="../lib/textarea.js"></script>
  <script src="../lib/react.min.js"></script>
  <script src="../lib/pako.min.js"></script>
  <script src="../lib/base64.js"></script>
  <script src="../lib/unicode.js"></script>
  <script src="TreeNode.js"></script>
  <script src="app.js"></script>
  <!-- debug: -->
  <!-- <script src="../lib/JSXTransformer.js"></script> -->
  <!-- <script src="components.jsx" type="text/jsx"></script> -->
  <!-- production: -->
  <script src="components.js"></script>
</head>
<body ng-app="app">
  <nav ng-controller="assignmentCtrl" style="position: absolute; width: 300px; padding: 10px;">
    <label>
      <h4>Grammar</h4>
      <textarea ng-model="$storage.grammar" style="width: 100%; min-height: 400px;" enhance></textarea>
    </label>
    <label>
      <h4>Terminals</h4>
      <input type="text" ng-model="$storage.terminals" ng-list=" " ng-trim="false" style="width: 100%">
    </label>
    <label>
      <h4>Start</h4>
      <input type="text" ng-model="$storage.start" style="width: 100%">
    </label>
  </nav>
  <main ng-controller="checkerCtrl" style="margin-left: 300px; padding: 10px;">
    <button ng-click="setTreeFromStartAndTerminals($storage.start, $storage.terminals)">Reload</button>
    <label class="checkbox" style="float: right">
      <input type="checkbox" ng-model="$storage.show_instructions"> <span>Show instructions</span>
    </label>
    <h3>Parse</h3>
    <ul ng-show="$storage.show_instructions">
      <li>Drag a text selection over multiple nodes to break them off into a new branch.<br>
        The nodes that will be placed under the new branch will be shaded gray while selecting.<br>
        To discard the selection without creating a new node, simply drag to a point outside the tree.</li>
      <li>Double click a node to undo a branch, collapsing its children into its place.<br>
        You cannot collapse the root node.</li>
      <li>Click on a node to edit its value.
        You cannot edit the terminal nodes' values.
      </li>
    </ul>
    <div style="margin: 5ex 0" class="tree no-selection">
      <div id="placeholder"></div>
    </div>

    <h4 ng-if="errors.length === 0">Successful parse!</h4>
    <div ng-if="errors.length > 0">
      <h4>Parsing errors:</h4>
      <ul>
        <li ng-repeat="error in errors track by $index">{{error}}</li>
      </ul>
    </div>

    <h4 style="margin-top: 5ex">State URL</h4>
    <div>
      <label ng-repeat="state_variable in state_variables" class="checkbox">
        <input type="checkbox" ng-model="state_variable.include"><span style="text-transform: capitalize">{{state_variable.name}}</span>
      </label>
    </div>
    <a href="{{state_url}}">Link to current state</a> (right click and </div>Copy Link Address</code>)
  </main>
</body>
